<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>people</title>
</head>
<body>
    <p>
    <span th:text="${people.getFio()}"></span>,
    <span th:text="${people.getBirthYear()}"></span>
    </p>
    <p th:if="${books}==null">Человек пока не взял ни одной книги</p>
    <ul th:if="${books} != null"
        th:each="book : ${books}">
        <li>
                Вот все книги которые взял <b><span th:text="${people.getFio()}"/></b>:
            <p>
                <span th:text="${book.getTitle()}"/>,
                <span th:text="${book.getAuthor()}"/>,
                <span th:text="${book.getYearOfIssue()}"/>
            </p>
        </li>
    </ul>
    <hr>
    <a th:href="@{/people/{id}/edit(id= ${people.getPeopleId()})}" >Редактировать</a>
    <br>
    <br>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${people.getPeopleId()})}">
        <input type="submit" value="Удалить">
    </form>
    <br>
    <a th:href="@{/people}">Вернуться на главную</a>
</body>
</html>