<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}/edit(id=${people.getId()})}" th:object="${people}">
    <label for="fio">Введите ФИО:</label>
    <input type="text" id="fio" th:field="*{fio}" th:value="${people.getFio()}">
    <br>
    <label for="birthDay">Введите год рождения:</label>
    <input type="text" id="birthDay" th:field="*{yearBirthday}" th:value="${people.getYearBirthday()}">
    <br>
    <input type="submit" value="Редактировать">
</form>
<br>
<a th:href="@{/people}">Вернуться на главную</a>

</body>
</html>